@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');


@font-face {
font-family: 'Circe Bold';
src: url('../font/CirceBold/Circe-Bold.eot'); 
src: url('../font/CirceBold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
url('../font/CirceBold/Circe-Bold.svg') format('svg'),
url('../font/CirceBold/Circe-Bold.ttf') format('truetype'),
url('../font/CirceBold/Circe-Bold.svg#CirceBold') format('svg');
font-style: normal;
font-weight: bold;
}

input,
button {
	border: none;
	outline: none;
}

$sans: 'PT Sans', sans-serif;
$circe: 'Circe Bold';
$headColor: #657a87;
$mainColor: #ff621f;
$textColor: #020001;
$lightColor: #fff;

@mixin text-config($size, $l-height, $color: $headColor) {
	font-size: $size;
	line-height: $l-height;
	color: $color;
}