@font-face {
  font-family: 'cabinsemibold';
  src: url("../fonts/cabin-semibold-webfont.eot");
  src: url("../fonts/cabin-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cabin-semibold-webfont.woff2") format("woff2"), url("../fonts/cabin-semibold-webfont.woff") format("woff"), url("../fonts/cabin-semibold-webfont.ttf") format("truetype"), url("../fonts/cabin-semibold-webfont.svg#cabinsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

button,
[type="text"] {
  border: none;
  outline: none; }

button {
  overflow: visible; }

.container {
  max-width: 980px;
  margin: 50px auto;
  padding: 20px 0;
  overflow: hidden; }

/*-------------------------------------*
#BUTTONS

\*-------------------------------------*/
.btn {
  display: inline-block;
  margin: 0 20px 20px 0;
  padding: 18px 15px;
  min-width: 140px;
  background-color: #65abd0;
  color: #fff;
  font-family: 'cabinsemibold', sans-serif;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0.02rem;
  text-align: center;
  transition: 0.3s;
  cursor: pointer; }
  .btn:hover {
    background: #5093b7;
    transition: 0.3s; }
  .btn--rounded {
    border-radius: 6px; }
  .btn--round {
    border-radius: 999rem; }
  .btn--ghost {
    border: 2px solid #65abd0;
    background-color: transparent;
    border-radius: 999rem;
    color: #65abd0; }
    .btn--ghost:hover {
      border: 2px solid #5093b7;
      background-color: transparent;
      color: #5093b7;
      transition: 0.3s; }
  .btn--square {
    position: relative;
    min-width: 0px;
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 6px;
    transition: 0.3s; }
    .btn--square:after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 2px;
      background-color: currentColor;
      transform: translate(-50%, -50%);
      box-shadow: 0 6px 0 0 currentColor, 0 -6px 0 0 currentColor; }
  .btn--circle {
    position: relative;
    min-width: 0px;
    border-radius: 999rem; }
    .btn--circle:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2px;
      height: 2px;
      color: #fff; }
    .btn--circle-normal {
      width: 48px;
      height: 48px; }
      .btn--circle-normal:after {
        transform: translate(-300%, -50%);
        box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor, 6px 6px 0 0 currentColor; }
    .btn--circle-small {
      width: 36px;
      height: 36px; }
      .btn--circle-small:after {
        transform: translate(100%, -50%);
        box-shadow: -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -4px 4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor; }
    .btn--circle-large {
      width: 60px;
      height: 60px; }
      .btn--circle-large:after {
        transform: translate(150%, -50%);
        box-shadow: -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor, -7px 7px 0 0 currentColor, -8px 8px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor, -7px -7px 0 0 currentColor, -8px -8px 0 0 currentColor; }
  .btn--arrow {
    position: relative;
    min-width: 75px; }
    .btn--arrow:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 41px;
      height: 41px;
      background-color: inherit;
      border-radius: 6px;
      transform: translate(39%, -50%) rotate(45deg); }
  .btn--arrow__text {
    position: relative;
    z-index: 1; }
  .btn--split {
    overflow: hidden;
    min-width: 0px;
    padding: 0; }
    .btn--split:hover {
      background-color: #65abd0; }
    .btn--split-block {
      position: relative;
      float: left;
      border: none;
      width: 36px;
      height: 36px;
      padding: 0px;
      background: transparent;
      color: #fff;
      cursor: pointer; }
      .btn--split-block:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        width: 2px;
        height: 2px;
        background-color: currentColor; }
      .btn--split-block:hover {
        background-color: #5093b7;
        transition: 0.3s; }
    .btn--split__left {
      border-right: 1px solid #609fc0; }
      .btn--split__left:after {
        transform: translate(-100%, -50%);
        box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor; }
    .btn--split__right {
      border-left: 1px solid #609fc0; }
      .btn--split__right:after {
        transform: translate(50%, -50%);
        box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor; }
  .btn--large {
    padding: 23px 15px;
    min-width: 190px;
    font-size: 18px; }
  .btn--small {
    padding: 12px 15px;
    min-width: 120px;
    font-size: 14px; }
    .btn--small-square {
      position: relative;
      min-width: 0px;
      width: 36px;
      height: 36px;
      padding: 0;
      border-radius: 6px;
      transition: 0.3s; }
      .btn--small-square:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 2px;
        background-color: currentColor;
        transform: translate(-50%, -50%);
        box-shadow: 0 6px 0 0 currentColor, 0 -6px 0 0 currentColor; }
    .btn--small-arrow {
      position: relative;
      min-width: 90px; }
      .btn--small-arrow:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 31px;
        height: 31px;
        background-color: inherit;
        border-radius: 6px;
        transform: translate(39%, -50%) rotate(45deg); }

.split--align {
  position: relative;
  padding: 0;
  float: left;
  width: 48px;
  height: 48px;
  border-right: 1px solid #269e8e;
  border-left: 1px solid #269e8e;
  background-color: #24aa98;
  color: #fff;
  cursor: pointer;
  transition: .3s; }
  .split--align:last-child {
    border-right: none; }
  .split--align:first-child {
    border-left: none; }
  .split--align__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 2px;
    background-color: currentColor; }
  .split--align:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 2px;
    background-color: currentColor; }
  .split--align:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 2px;
    background-color: currentColor; }
  .split--align:hover {
    background-color: #268276; }

.split-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 48px;
  margin: 0 16px 20px 0;
  color: #fff; }
  .split-btn--align {
    width: 144px;
    overflow: hidden;
    border-radius: 6px; }
    .split-btn--align__left:before {
      transform: translate(-9px, -7px); }
    .split-btn--align__left:after {
      transform: translate(-9px, 5px); }
    .split-btn--align__center:before {
      transform: translate(-50%, -7px); }
    .split-btn--align__center:after {
      transform: translate(-50%, 5px); }
    .split-btn--align__right:before {
      transform: translate(-5px, -7px); }
    .split-btn--align__right:after {
      transform: translate(1px, 5px); }
  .split-btn--input {
    position: relative;
    width: 296px; }
    .split-btn--input__field {
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 80px;
      border: 2px solid #c6ccd2;
      border-radius: 6px; }
  .split-btn__send-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 76px;
    height: 100%;
    background: #24aa98;
    border-radius: 0 6px 6px 0;
    color: #fff;
    font-family: 'cabinsemibold', sans-serif;
    cursor: pointer;
    transition: .3s; }
    .split-btn__send-btn:hover {
      background-color: #268276; }
  .split-btn--dropdown-input {
    position: relative;
    width: 380px; }
    .split-btn--dropdown-input__field {
      width: 100%;
      height: 100%;
      padding-left: 127px;
      padding-right: 80px;
      border: 2px solid #c6ccd2;
      border-radius: 6px; }
  .split-btn__open-btn {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 112px;
    height: 100%;
    background: #24aa98;
    padding-right: 20px;
    border-radius: 6px 0 0 6px;
    color: #fff;
    font-family: 'cabinsemibold', sans-serif;
    cursor: pointer;
    transition: .3s; }
    .split-btn__open-btn:hover {
      background-color: #268276; }
    .split-btn__open-btn:after {
      content: '';
      position: absolute;
      top: 55%;
      right: 20px;
      width: 2px;
      height: 2px;
      background-color: currentColor;
      box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor; }
    .split-btn__open-btn-dropdown {
      min-width: 60px;
      border-radius: 6px; }

.input-field {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 48px;
  margin: 0 16px 20px 0;
  font-family: 'cabinsemibold', sans-serif;
  vertical-align: middle; }
  .input-field__empty {
    width: 100%;
    height: 100%;
    margin: 0 20px 20px 0;
    padding: 15px;
    border: 2px solid #c6ccd2;
    border-radius: 6px;
    font-family: 'cabinsemibold', sans-serif;
    font-size: 16px;
    font-weight: bold; }
    .input-field__empty.is-active {
      border-color: #24aa98; }
    .input-field__empty.is-error {
      border-color: #db7560; }
  .input-field__active {
    width: 100%;
    height: 100%;
    margin: 0 20px 20px 0;
    padding: 15px;
    border: 2px solid #65abd0;
    border-radius: 6px;
    font-family: 'cabinsemibold', sans-serif;
    font-size: 16px;
    font-weight: bold; }
  .input-field__round {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 20px 20px 0;
    padding: 15px;
    padding-left: 40px;
    border: 2px solid #c6ccd2;
    border-radius: 999px;
    font-family: 'cabinsemibold', sans-serif;
    font-size: 16px;
    font-weight: bold; }
    .input-field__round.is-active {
      border: 2px solid #65abd0;
      color: #111; }
  .input-field__split-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 100%;
    background-color: #c6ccd2;
    border-radius: 0 6px 6px 0;
    cursor: pointer; }
    .input-field__split-btn--small {
      width: 36px; }
  .input-field__search {
    padding-right: 50px; }
  .input-field__small {
    height: 36px; }
    .input-field__small--text {
      font-size: 14px; }

.input-field__search--text:valid {
  width: calc(100% - 58px); }
  .input-field__search--text:valid + .input-field__split-btn {
    background-color: #24aa98;
    border-radius: 6px; }

.search-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  padding-left: 15px;
  transform: translateY(-50%);
  color: #c6ccd2;
  pointer-events: none; }
  .search-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid currentColor; }
  .search-icon:after {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 2px;
    height: 2px;
    background-color: currentColor;
    box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor; }
  .search-icon.is-active {
    color: #111; }
  .search-icon.search-icon__small {
    width: 16px;
    height: 16px; }
    .search-icon.search-icon__small:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px; }
  .search-icon__center {
    top: 50%;
    left: 5px;
    padding: 0;
    color: #fff; }
    .search-icon__center:before {
      content: '';
      position: absolute;
      left: 50%; }
    .search-icon__center:after {
      content: '';
      position: absolute;
      right: -50%; }
    .search-icon__center--small {
      left: 2px; }

.close-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer; }
  .close-icon:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background-color: currentColor;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor; }
  .close-icon__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c6ccd2;
    color: #fff; }
  .close-icon.is-error {
    color: #db7560; }

.icon-check {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 14px;
  height: 10px;
  color: #fff; }
  .icon-check:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: currentColor;
    transform: translateY(50%);
    box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor; }
  .icon-check.is-active {
    color: #24aa98; }
  .icon-check.is-error {
    color: #db7560; }

/*# sourceMappingURL=style.css.map */
